mixin cards(mods)
	-
		const data = {
			productPage: {
				card: {
					img: "card-img-",
					alt: "product image",
					add: "Add to Cart",
					title: "Ellery x m'o capsule",
					desc: "Known for her sculptural takes on traditional tailoring, Australian arbiter of cool Kym Ellery teams up with Moda Operandi.",
					price: "$52.00",
				},
			}
		}

	.cards(class="cards--" + mods)
		.container 
			ul.cards__list
				if mods === "product-page"
					- for (i = 0; i < 3; i++)
						li.cards__item
							.cards__card.card.card--product-page
								.card__pic
									+picture("content", data.productPage.card.img + (i + 1), "jpg", 360, 420, data.productPage.card.alt).card__img
									button.card__add-to-card.card-btn.btn.btn--empty
										span.card-btn__icon
											+icon("icon-cart", 26, 24).icon
										span.card-btn__text=data.productPage.card.add
								.card__desc
									h3.card__title.title.title--h4=data.productPage.card.title + " " + (i + 1)
									p.card__text.text.text--s=(i + 1) + " " + data.productPage.card.desc
									span.card__price=data.productPage.card.price
				else if mods === "catalog-page"
					- for (i = 0; i < 9; i++)
						li.cards__item
							.cards__card.card.card--product-page
								.card__pic
									+picture("content", data.productPage.card.img + (i + 1), "jpg", 360, 420, data.productPage.card.alt).card__img
									button.card__add-to-card.card-btn.btn.btn--empty
										span.card-btn__icon
											+icon("icon-cart", 26, 24).icon
										span.card-btn__text=data.productPage.card.add
								.card__desc
									h3.card__title.title.title--h4=data.productPage.card.title + " " + (i + 1)
									p.card__text.text.text--s=(i + 1) + " " + data.productPage.card.desc
									span.card__price=data.productPage.card.price